.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.networkSection {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.input, .output {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: rgb(232, 18, 189)0, 17;
}

.status {
  margin-top: 20px;
  color: #555;
}

.topRightLink {
  position: absolute;
  top: 10px;
  left: 30px;
  padding-top: 20px;
}
